{%extends "baseLayout.html"%}

{%block title %} Login {%endblock%}


{%block content %}

<div class="form_box">

	<h2>Login</h2>

	<form  action="{{url_for('login')}}" method="post">
		{{form.hidden_tag() }}

		<div class="form-group user_box">
			{{form.regNo(class='form-control')}}
			{{form.regNo.label }} 
		</div>
		
		<div class="form-group user_box">
			
			{{form.password(class='form-control', type='password')}}
			{{form.password.label }} 
		</div>
		 <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>

		<div>{{ form.submit(class='submit_btn') }}</div>
		
	</form>
	
</div>
{%endblock%}