{%extends "baseLayout.html"%}

{%block title %} Welcome {%endblock%}


{%block content %}

<div>
Welcome {{current_user.firstName}} &nbsp; {{current_user.lastName}} &nbsp; {{current_user.regNo}}
</div>


<!-- Grid row -->
<div class="row">

  <!-- Grid column -->
  <div class="col-lg-2 col-md-8">

  </div>
  <!-- Grid column -->

  <!-- Grid column -->
  <div class="col-lg-8 col-md-6">

    <!--Card Narrower-->
    <div class="card card-cascade narrower">

      <!--Card image-->
      <div class="view view-cascade overlay">
        <img src="{{url_for('static', filename='images/welcome.jpeg')}}" class="card-img-top"
          alt="narrower">
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
      <!--/.Card image-->


    </div>
    <!--/.Card Narrower-->

  </div>
  <!-- Grid column -->

 

</div>
<!-- Grid row -->

{%endblock%}